body{
    background-image: url('https://img1.picmix.com/output/stamp/normal/9/5/8/3/473859_39dad.gif');
    background-size: cover;
}
.rotacion{
    animation: rotate linear 1s;
}
.scale{
    animation: scale linear 1s;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: rotate(1);
    }
}